* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  /* background-color: rgb(115, 219, 219); */
  /* color: violet; */
  margin-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  color: #333;
}

button,
input {
  outline: none;
  border: none;
}

input[type="button"] {
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  border: 2px solid #333;
  border-radius: 7px;
  padding: 5px;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
html 
{
  cursor: url("./icons/icons8-cursor.svg"), default;

}

body > form,
body {
  background-color: #212121;
  padding: 10px 30px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.inputsWrapper > div {
  width: 525px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #272626;
  color: white;
}

.btn:active {
  background-color: #474646;
}

th,
td {
  padding: 30px;
  border: 1.5px solid gold;
  width: fit-content;
  border-radius: 12px;
}

.userdata {
  margin-top: 75px;
}
